<nav id="nav-sidebar">
  <ul>
    <li><a href="#" onclick="loadPage('dashboard')">
      <i class="fas fa-home"></i> <span>Dashboard</span>
    </a></li>
    <li><a href="#" onclick="loadPage('layanan')">
      <i class="fas fa-tools"></i> <span>Layanan</span>
    </a></li>
    <li><a href="#" onclick="loadPage('lokasi')">
      <i class="fas fa-map-marker-alt"></i> <span>Lokasi</span>
    </a></li>
    <li><a href="#" onclick="loadPage('kontak')">
      <i class="fab fa-whatsapp"></i> <span>Kontak</span>
    </a></li>
  </ul>
</nav>
